<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Booking</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<div class="elementPages">
    <div>
        <h1>Update BOOKING</h1>
    </div>
    <form action="#" th:action="@{/ui/booking/update}" th:object="${booking}"
          method="POST">

        <table>
            <tr>
                <td><label for="num0">Id</label></td>
                <td><input id="num0" th:field="*{id}" readonly required></td>
            </tr>
            <tr>
                <td><label>Client</label></td>
                <td>
                    <select id="id2" th:field="*{client}">
                        <option th:each="elementListId: ${clientListId}"
                                th:value="${elementListId.id}" th:text="${elementListId.person.name}">
                        </option>
                    </select>
                </td>

            </tr>
            <tr>
                <td><label>Room</label></td>
                <td>
                    <select id="id3" th:field="*{room}">
                        <option th:each="elementListId: ${roomListId}"
                                th:value="${elementListId.id}" th:text="${elementListId.number}">
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="num3">Entertainments</label></td>
                <td>
                    <div id="num3">
                        <select multiple id="id" th:field="*{entertainments}">
                            <option th:each="entertainmentListId: ${entertainmentListId}"
                                    th:value="${entertainmentListId.id}" th:text="${entertainmentListId.type}">
                            </option>
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td><label for="num4">Services</label></td>
                <td>
                    <div id="num4">
                        <select multiple id="id1" th:field="*{services}">
                            <option th:each="servicesListId: ${servicesListId}"
                                    th:value="${servicesListId.id}" th:text="${servicesListId.type}">
                            </option>
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td><label for="num5">Settlement</label></td>
                <td><input id="num5" th:field="*{settlement}"  required></td>
            </tr>
            <tr>
                <td><label for="num6">Eviction</label></td>
                <td><input id="num6" th:field="*{eviction}"  required></td>
            </tr>
            <tr>
                <td><label for="num7">Price</label></td>
                <td><input id="num7" th:field="*{price}"  required></td>
            </tr>
        </table>
        <br>
        <button type="submit">SAVE</button>
    </form>
</div>

<a th:href="@{/ui/feedback/get/all}">
    <button class="ButtonAdd">Back</button>
</a>
</body>
</html>