<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Floor</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
    <div class="elementPages">
        <div>
            <h1>ADD FLOOR</h1>
        </div>
        <form action="#" th:action="@{/ui/floor/add}" th:object="${floor}"
              method="POST">

            <table>
                <tr>
                    <td><label for="num1">NumberFloor</label></td>
                    <td><input id="num1" th:field="*{numberFloor}"  required></td>
                </tr>
                <tr>
                    <td><label for="num2">Cleaners</label></td>
                    <td>
                        <div id="num2">
                            <select multiple id="id" th:field="*{cleaners}">
                                <option th:each="personListId: ${personListId}"
                                        th:value="${personListId.id}" th:text="${personListId.name}">
                                </option>
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><label for="num3">Rooms</label></td>
                    <td>
                        <div id="num3">
                            <select multiple id="id1" th:field="*{rooms}">
                                <option th:each="roomListId: ${roomListId}"
                                        th:value="${roomListId.id}" th:text="${roomListId.type}">
                                </option>
                            </select>
                        </div>
                    </td>
                </tr>
            </table>
            <br>
            <button type="submit">SAVE</button>
        </form>
    </div>

    <a th:href="@{/ui/floor/get/all}">
        <button class="ButtonAdd">Back</button>
    </a>
</body>
</html>